@font-face {
  src: url("/assets/fonts/MuseoSansCyrl_0.otf");
  font-family: MuseoSansCyrl, sans-serif;
}
@font-face {
  src: url("/assets/fonts/MuseoSansCyrl_2.otf");
  font-family: "MuseoSansCyrl Bold", sans-serif;
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #ffffff;
  font-family: MuseoSansCyrl, sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1920px;
  margin: 0 auto 0;
  height: 5919px;
  background: url("/assets/img/bg-full.png") no-repeat;
  background-size: cover;
}
@media (max-width: 1919px) {
  .wrapper {
    background: url("/assets/img/bg-full_1.png") no-repeat;
    background-size: contain;
  }
}
@media (max-width: 1439px) {
  .wrapper {
    background: url("/assets/img/bg-full_clean.png") no-repeat;
    height: auto;
    background-size: contain;
  }
}
@media (max-width: 1299px) {
  .wrapper {
    background-size: cover;
  }
}
@media (max-width: 899px) {
  .wrapper {
    background: url("/assets/img/bg-full_mobile2.svg") no-repeat;
    background-size: cover;
  }
}

.header {
  display: flex;
  flex-flow: column nowrap;
  width: 1388px;
  height: 86px;
  margin: 86px 274px 215px 258px;
  z-index: 2;
}
@media (max-width: 1919px) {
  .header {
    margin: 5% 0 215px;
    width: 100%;
  }
}
@media (max-width: 1439px) {
  .header {
    margin: 5% 0 14%;
    height: 100px;
  }
}
@media (max-width: 899px) {
  .header {
    margin: 3% 0 0 0;
  }
}
@media (max-width: 575px) {
  .header {
    height: 50px;
  }
}

.header-menu-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media (max-width: 1919px) {
  .header-menu-container {
    width: 100%;
  }
}
@media (max-width: 1439px) {
  .header-menu-container {
    margin: -15px 0 0 0;
  }
}
@media (max-width: 899px) {
  .header-menu-container {
    margin: 0;
    height: 50%;
  }
}

@media (max-width: 1919px) {
  .header-image-container {
    margin: 0 0 0 13%;
  }
}
@media (max-width: 1699px) {
  .header-image-container {
    margin: 0 0 0 5%;
  }
}
@media (max-width: 1299px) {
  .header-image-container {
    margin: 0 0 0 13%;
  }
}
@media (max-width: 899px) {
  .header-image-container {
    display: flex;
    margin: 0;
  }
}
@media (max-width: 575px) {
  .header-image-container {
    margin: 0 0 0 24px;
    width: 87px;
  }
}

@media (max-width: 899px) {
  .logo {
    width: 100%;
    object-fit: contain;
  }
}

.header-menu {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 0 0 230px;
}
@media (max-width: 1919px) {
  .header-menu {
    width: 68%;
    justify-self: flex-end;
  }
}
@media (max-width: 1439px) {
  .header-menu {
    width: 40%;
  }
}
@media (max-width: 1023px) {
  .header-menu {
    margin: 0 1%;
    width: 38%;
  }
}
@media (max-width: 899px) {
  .header-menu {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .header-menu {
    max-width: 350px;
  }
}

.header-menu-top {
  display: flex;
  flex-flow: row nowrap;
  margin: 2px 0 0 464px;
  align-items: center;
}
@media (max-width: 1919px) {
  .header-menu-top {
    margin: 2px 0 0 0;
    justify-content: flex-end;
  }
}
@media (max-width: 899px) {
  .header-menu-top {
    display: none;
  }
}

.change-language-button {
  display: flex;
  flex-flow: row;
  margin: 0 23px 0 34px;
  align-self: center;
  background: none;
}
@media (max-width: 1023px) {
  .change-language-button {
    margin: 0;
  }
}
@media (max-width: 899px) {
  .change-language-button {
    display: none;
  }
}

.change-language-button__text {
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #CDCDCD;
}
@media (max-width: 1023px) {
  .change-language-button__text {
    margin: 3px 0 0 0;
    line-height: normal;
    font-size: 16px;
  }
}

.change-language-button__text-bold {
  margin: 0 -5px 0 0;
  font-family: "MuseoSansCyrl Bold", sans-serif;
  color: #ffffff;
}
@media (max-width: 1023px) {
  .change-language-button__text-bold {
    margin: 3px 0 0 0;
    line-height: normal;
    font-size: 16px;
  }
}

.header-menu-item_link {
  display: flex;
  flex-flow: row nowrap;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
  text-decoration: none;
}
.header-menu-item_link:hover {
  opacity: 70%;
}
@media (max-width: 1023px) {
  .header-menu-item_link {
    line-height: normal;
    font-size: 16px;
  }
}
@media (max-width: 899px) {
  .header-menu-item_link {
    display: none;
  }
}

.header-menu-item_link__social {
  margin: 2px 7px 0;
  justify-self: center;
}
@media (max-width: 1023px) {
  .header-menu-item_link__social {
    margin: 0px 2px 0;
  }
}

.header-menu-top_link__phone {
  margin: 6px 0 0 4px;
  font-family: Museo Sans Cyrl, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
  text-decoration: none;
  align-self: center;
}
@media (max-width: 1023px) {
  .header-menu-top_link__phone {
    line-height: normal;
    font-size: 16px;
  }
}

.header-menu-item_link__bottom {
  margin: 0 17px 0 0;
  white-space: nowrap;
}
@media (max-width: 1919px) {
  .header-menu-item_link__bottom {
    text-align: center;
  }
}
@media (max-width: 1699px) {
  .header-menu-item_link__bottom {
    margin: 0 2% 0 0;
  }
}

.header-menu-item_image {
  align-self: center;
}

.header-menu-bottom {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: 13px 0 0 -45px;
  align-items: center;
}
@media (max-width: 1919px) {
  .header-menu-bottom {
    margin: 13px 0 0 0;
    justify-content: flex-end;
  }
}
@media (max-width: 1439px) {
  .header-menu-bottom {
    padding: 0 0 0 20px;
  }
}
@media (max-width: 1299px) {
  .header-menu-bottom {
    flex-flow: wrap;
  }
}
@media (max-width: 1023px) {
  .header-menu-bottom {
    padding: 0;
  }
}
@media (max-width: 899px) {
  .header-menu-bottom {
    margin: 0;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .header-menu-bottom {
    align-content: center;
    justify-content: flex-end;
  }
}

.search-form {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 0 -4px;
  height: 28px;
  min-width: 195px;
  align-items: center;
  background: #FFFFFF;
  border-radius: 30px;
}
@media (max-width: 1919px) {
  .search-form {
    margin: 0 0 0 -4px;
    padding: 0 5px 0;
  }
}
@media (max-width: 1699px) {
  .search-form {
    margin: 5px 0 0 0;
    width: 25%;
  }
}
@media (max-width: 1439px) {
  .search-form {
    width: 45%;
  }
}
@media (max-width: 899px) {
  .search-form {
    height: 90%;
  }
}
@media (max-width: 575px) {
  .search-form {
    min-width: 70px;
    width: 146px;
    height: 25px;
  }
}
@media (max-width: 425px) {
  .search-form {
    width: 120px;
  }
}

.search-button {
  margin: 5px 0px 3px 13px;
  background: none;
}

.search-input {
  display: flex;
  flex-flow: column nowrap;
  width: 81%;
  padding: 0 0 0 17px;
  font-family: Museo Sans Cyrl, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #7D7D7D;
}
.search-input:focus {
  background: none;
  outline: none;
}

.header-menu_burger {
  display: none;
}
@media (max-width: 899px) {
  .header-menu_burger {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 0 15%;
  }
}
@media (max-width: 575px) {
  .header-menu_burger {
    align-self: flex-end;
    margin-left: 10%;
  }
}

.burger-menu {
  display: none;
}
@media (max-width: 899px) {
  .burger-menu {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    top: -100%;
    margin: -28px 0 0 0;
    padding: 30px 20px 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    transition: all 0.3s ease 0s;
    background: #80C342;
  }
}
.burger-menu.active {
  top: 28px;
}

.header-menu-item_link__burger {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 8vh;
  z-index: 8;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-bottom: 1px solid #8E3298;
}

/*# sourceMappingURL=header.css.map */
