.wrapper {
  height: auto;
  background: url("/assets/img/bg-inner.svg") no-repeat;
  background-size: cover;
}
@media (max-width: 899px) {
  .wrapper {
    background: url("/assets/img/bg-full_mobile2.svg") no-repeat;
    background-size: cover;
  }
}

.wrapper__about-and-careers {
  height: auto;
  background: url("/assets/img/bg-about.svg") no-repeat;
  background-size: cover;
}
@media (max-width: 899px) {
  .wrapper__about-and-careers {
    background: url("/assets/img/bg-full_mobile2.svg") no-repeat;
    background-size: cover;
  }
}

.content__inner {
  padding: 0 15% 0;
  height: auto;
  background: url("/assets/img/2.content/bottom-img2.svg") no-repeat bottom left;
}
@media (max-width: 899px) {
  .content__inner {
    background: none;
  }
}

.content_about-and-careers {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  position: relative;
}

.content-text__about-and-careers {
  margin: 25px 0;
  width: 50%;
}

.content-text__about-and-careers-full-width {
  margin: 25px 0;
  width: 100%;
}

.content_button__content_about-and-careers {
  position: relative;
  top: 8%;
  align-self: flex-end;
}
@media (max-width: 1299px) {
  .content_button__content_about-and-careers {
    top: 7%;
  }
}
@media (max-width: 1023px) {
  .content_button__content_about-and-careers {
    top: 5%;
  }
}
@media (max-width: 899px) {
  .content_button__content_about-and-careers {
    display: none;
  }
}

.content_address {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 70px 0;
}

.content-blogs {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.content-subtitle {
  margin: 0 0 65px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

.content-blogs_form-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.content-blogs_form-container-text {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
}

.contact-form__blog-page {
  width: 40%;
  height: 100%;
}

.content-blog_search {
  display: flex;
  justify-content: flex-start;
}

.search-form_blog {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 93px 0;
}

.search-form_blog-container {
  display: flex;
  padding: 0 10px 0 0;
  border: 1px solid #862D91;
  background: #FFFFFF;
  border-radius: 30px;
}

.search-form_select-container {
  display: flex;
  flex-flow: column nowrap;
  max-width: 225px;
  margin: 0 0 0 65px;
  align-items: center;
  justify-content: center;
  background: #80C342;
  border-radius: 30px;
}

.search-form_select {
  display: flex;
  background: none;
  width: 70%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
.search-form_select:hover {
  opacity: 70%;
}
.search-form_select:focus {
  outline: none;
}
.search-form_select option {
  background: #80C342;
}

.content-blog_articles {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0 0 200px 0;
}

.content-blog_articles-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.article {
  display: flex;
  flex-flow: column nowrap;
  width: 45%;
  height: auto;
  padding: 40px;
  margin: 0 50px 50px 0;
  background: #842C8E url("/assets/img/2.content/case-bg1.svg") center no-repeat;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
  color: #FFFFFF;
}
@media (max-width: 1919px) {
  .article {
    margin: 0 3.5vw 50px 0;
    width: 30vw;
    background-size: contain;
    height: 100%;
  }
}
@media (max-width: 1023px) {
  .article {
    width: 38vw;
  }
}
@media (max-width: 767px) {
  .article {
    padding: 10px;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .article {
    padding: 5px;
    width: 43vw;
  }
}
@media (max-width: 425px) {
  .article {
    height: auto;
    background: #842C8E;
    border: 0.278917px solid #000000;
    box-sizing: border-box;
    border-radius: 8.3675px;
  }
}

.article__news {
  margin: 7% 0;
  width: 48%;
  background: #842C8E;
}

.article_subtitle {
  margin: 3% 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

.content-blog_articles-button {
  display: flex;
  flex-flow: row nowrap;
  width: 30%;
  align-self: center;
  align-items: center;
  justify-content: center;
  background: none;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.content-blog_articles-button :hover {
  opacity: 70%;
}

.content_cases {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.content_cases-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 70px 0 0 0;
}

.slider-case__case-page {
  width: 43%;
  margin: 0 7% 7% 0;
}
@media (max-width: 1919px) {
  .slider-case__case-page {
    height: auto;
  }
}

.case-image-container {
  display: flex;
  flex-flow: row nowrap;
  width: 43%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.case-image {
  width: 80%;
  object-fit: cover;
}

.content_cases-page {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.content_cases-page-aim {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 75px 0 45px 0;
}

.content_cases-page-result {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0 0 75px 0;
}

.content_cases-download-row {
  display: flex;
  flex-flow: row nowrap;
  width: 70%;
  margin: 0 0 300px 0;
}

.download-block {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  height: auto;
  min-height: 175px;
  padding: 20px 0 0 20px;
  margin: 0 80px 0 0;
  background: #842C8E;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
}

.download-block_title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 16px 0;
  color: #FFFFFF;
}

.download-block_text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
  color: #FFFFFF;
}

.download-block_link {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
  /* or 104% */
  color: #FFFFFF;
}
.download-block_link:hover {
  opacity: 70%;
}

.content_news-and-events {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.content_news-and-events-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.content_select-container {
  display: flex;
  flex-flow: column nowrap;
  max-width: 310px;
  width: 310px;
  max-height: 55px;
  margin: 20px 0 0 110px;
  align-items: center;
  justify-content: center;
  background: #80C342;
  border-radius: 30px;
}

.content_select {
  display: flex;
  background: none;
  width: 70%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
.content_select:hover {
  opacity: 70%;
}
.content_select:focus {
  outline: none;
}
.content_select option {
  background: #80C342;
}

.news-slide-case__news-page {
  width: 100%;
  margin: 0;
}

.content-blog_articles-list__news {
  width: 100%;
  justify-content: space-between;
}

.news-list {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.news-list_item {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 80px;
}

.news-list_item-left {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
}

.article_subtitle__news {
  color: #000000;
  margin: 0;
}

.slider-case_title__news {
  display: flex;
  width: 100%;
  height: auto;
}

.slider-case_text__news {
  display: flex;
  width: 100%;
  height: auto;
}

.news-list_item-link {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #80C342;
}
.news-list_item-link:hover {
  opacity: 70%;
}

.news-list_item-right {
  display: flex;
  flex-flow: column;
  width: 40%;
}

.news-list_image {
  object-fit: contain;
  width: 80%;
  align-self: center;
  justify-self: center;
}

.top-poster {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 30px;
  margin-bottom: 60px;
  background: #862D91 url("/assets/img/2.content/poster-top-bg.svg") no-repeat center;
  border: 5px solid #95479E;
  box-sizing: border-box;
  border-radius: 10px;
}

.posters-and-presentations_list {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-bottom: 100px;
}

.poster_date {
  margin-top: 90px;
  margin-bottom: 45px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.poster_date__top {
  margin-top: 0;
  color: #FFFFFF;
}

.poster_title {
  margin-top: 40px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.poster_title__top {
  margin-top: 0;
  color: #FFFFFF;
}

.poster_text {
  margin-top: 40px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.poster_text__top {
  margin-top: 0;
  color: #FFFFFF;
}

.poster_link {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #80C342;
}
.poster_link:hover {
  opacity: 70%;
}

.poster_link__top {
  color: #FFFFFF;
}

.publications_header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.publications_header-left {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
}

.publications_subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.publications_header-right {
  display: flex;
  flex-flow: row nowrap;
  width: 60%;
  justify-content: space-between;
}

.publications_header-mini-block {
  display: flex;
  flex-flow: column nowrap;
  width: 45%;
  min-height: 175px;
  padding: 20px 20px 15px 40px;
  background: #842C8E;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
}

.content_button__mini-block-button {
  margin-top: auto;
  height: 50px;
  width: 50%;
  font-size: 18px;
  align-self: flex-start;
  box-shadow: 10px 10px 30px #4A1950;
}

.publications_list {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-top: 95px;
}

.poster_date__publication {
  margin-top: 0;
}

.publications_year-list {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 40px 100px;
}

.publications_year-list__top {
  margin-bottom: 100px;
  border: 5px solid #862D91;
  box-sizing: border-box;
  border-radius: 30px;
}

.publicatoins_list-item {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.publications_row {
  display: flex;
}

.research-block {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}

.research-block_left {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
}

.research_image-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-left: -220px;
  align-items: center;
  justify-content: center;
}

.research-block_image {
  width: 100%;
  object-fit: cover;
}

.research-block_right {
  display: flex;
  flex-flow: column nowrap;
  width: 45%;
}

.article__research {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  width: 100%;
  background: #842C8E;
}

.article__reverse {
  background: #FFFFFF;
  color: #862D91;
  border: 5px solid #862D91;
  box-sizing: border-box;
  border-radius: 30px;
}

.slider-case_title__article {
  height: auto;
}

.content_button__research {
  align-self: center;
}

.content-subtitle__research-page {
  margin-top: 105px;
  margin-bottom: 65px;
  font-size: 48px;
}

.block-with-circles {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.research-page_block-with-circles-row {
  display: flex;
  width: 110%;
  height: auto;
  margin: 85px 0;
  align-self: center;
  justify-content: space-evenly;
}

.animation-title__research-page {
  display: flex;
  min-width: 33%;
  max-width: 40%;
  height: auto;
  padding-top: 15px;
  align-items: flex-start;
  background: url("/assets/img/2.content/animation-ellipse.svg") no-repeat top left;
  background-size: auto;
}

.content-subtitle__small {
  font-size: 36px;
}

.services-block {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}

.services-block_left {
  display: flex;
  flex-flow: column nowrap;
  width: 45%;
}

.block-with-circles-row__column {
  display: flex;
  flex-flow: column nowrap;
}

.animation-title__services {
  margin-bottom: 66px;
  line-height: normal;
}

.image-container__services {
  margin-left: 0;
}

.services-block_right {
  display: flex;
  flex-flow: column nowrap;
  width: 45%;
  margin-top: -60px;
}

.article__services {
  width: 80%;
}

.shared-documents-block {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}

.first-block {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 50px;
}

.shared-documents__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18.3652px;
  line-height: 31px;
  text-decoration: underline;
  color: #80C342;
}
.shared-documents__link:hover {
  opacity: 70%;
}

.slider-case_text__bold {
  font-weight: 600;
}

.shared-documents__image {
  margin-top: 30px;
  width: 20%;
  align-self: center;
}

/*# sourceMappingURL=inner_pages.css.map */
