/* Слайдер */

.slick-slider {

  @media (max-width: 1919px) {
    width: 100%;
  }
}

/* Ограничевающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  flex-flow: row nowrap;
}


/* Слайд */
.slick-slide {
  display: flex;
  outline: none;
}

/* Слайд активный */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}


/* Стрелка */
.slick-arrow {
}

/* Стрелка влево */
.slick-arrow.slick-prev {
}

/* Стрелка вправо */
.slick-arrow.slick-next {
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
}


/* Точки*/
.slick-dots {
  display: flex;
  align-self: center;
  margin: 67px 0 0 315px;

  @media (max-width: 767px) {
    margin: 5% 0 0 20%;
  }
}

.news-slider .slick-dots {
  display: flex;
  align-self: center;
  margin: -50px 0 0 0;
  z-index: 20;
}

.slick-dots li {
  margin: 0 22px 0 0;
  list-style: none;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #8E3298;
  border-radius: 50%;

  @media (max-width: 425px) {
    width: 5px;
    height: 5px;
    margin: 0 6px 0 0;
  }
}

.news-slider .slick-dots li {
  background: #8E3298;
  border: 3px solid #80C342;
  border-radius: 50%;

  @media (max-width: 425px) {
    border: 1px solid #80C342;
  }
}

.slick-dots .slick-active {
  background: #8E3298;
  border-radius: 50%;
}

.news-slider .slick-dots .slick-active {
  background: #80C342;
  border: 3px solid #80C342;
  border-radius: 50%;
}

.slick-dots button {
}


/* Конкретный слайдер*/

.slider {
  display: flex;
  flex-flow: column nowrap;
  min-width: 0;
  margin: 80px 0 0 0;

  @media (max-width: 767px) {
    margin: 5% 0 0 0;
  }
}
