@charset "UTF-8";
@font-face {
  src: url("/assets/fonts/MuseoSansCyrl_0.otf");
  font-family: MuseoSansCyrl, sans-serif;
}
@font-face {
  src: url("/assets/fonts/MuseoSansCyrl_2.otf");
  font-family: "MuseoSansCyrl Bold", sans-serif;
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #ffffff;
  font-family: MuseoSansCyrl, sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1920px;
  margin: 0 auto 0;
  height: 5919px;
  background: url("/assets/img/bg-full.png") no-repeat;
  background-size: cover;
}
@media (max-width: 1919px) {
  .wrapper {
    background: url("/assets/img/bg-full_1.png") no-repeat;
    background-size: contain;
  }
}
@media (max-width: 1439px) {
  .wrapper {
    background: url("/assets/img/bg-full_clean.png") no-repeat;
    height: auto;
    background-size: contain;
  }
}
@media (max-width: 1299px) {
  .wrapper {
    background-size: cover;
  }
}
@media (max-width: 899px) {
  .wrapper {
    background: url("/assets/img/bg-full_mobile2.svg") no-repeat;
    background-size: cover;
  }
}

.header {
  display: flex;
  flex-flow: column nowrap;
  width: 1388px;
  height: 86px;
  margin: 86px 274px 215px 258px;
  z-index: 2;
}
@media (max-width: 1919px) {
  .header {
    margin: 5% 0 215px;
    width: 100%;
  }
}
@media (max-width: 1439px) {
  .header {
    margin: 5% 0 14%;
    height: 100px;
  }
}
@media (max-width: 899px) {
  .header {
    margin: 3% 0 0 0;
  }
}

.header-menu-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media (max-width: 1919px) {
  .header-menu-container {
    width: 100%;
  }
}
@media (max-width: 1439px) {
  .header-menu-container {
    margin: -15px 0 0 0;
  }
}
@media (max-width: 899px) {
  .header-menu-container {
    margin: 0;
    height: 50%;
  }
}

@media (max-width: 1919px) {
  .header-image-container {
    margin: 0 0 0 13%;
  }
}
@media (max-width: 1699px) {
  .header-image-container {
    margin: 0 0 0 5%;
  }
}
@media (max-width: 1299px) {
  .header-image-container {
    margin: 0 0 0 13%;
  }
}
@media (max-width: 899px) {
  .header-image-container {
    display: flex;
    margin: 0;
  }
}

@media (max-width: 899px) {
  .logo {
    width: 100%;
    object-fit: contain;
  }
}

.header-menu {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 0 0 230px;
}
@media (max-width: 1919px) {
  .header-menu {
    width: 68%;
    justify-self: flex-end;
  }
}
@media (max-width: 1439px) {
  .header-menu {
    width: 40%;
  }
}
@media (max-width: 1023px) {
  .header-menu {
    margin: 0 1%;
    width: 38%;
  }
}
@media (max-width: 899px) {
  .header-menu {
    width: 100%;
    justify-content: center;
  }
}

.header-menu-top {
  display: flex;
  flex-flow: row nowrap;
  margin: 2px 0 0 464px;
  align-items: center;
}
@media (max-width: 1919px) {
  .header-menu-top {
    margin: 2px 0 0 0;
    justify-content: flex-end;
  }
}
@media (max-width: 899px) {
  .header-menu-top {
    display: none;
  }
}

.change-language-button {
  display: flex;
  flex-flow: row;
  margin: 0 23px 0 34px;
  align-self: center;
  background: none;
}
@media (max-width: 1023px) {
  .change-language-button {
    margin: 0;
  }
}
@media (max-width: 899px) {
  .change-language-button {
    display: none;
  }
}

.change-language-button__text {
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #CDCDCD;
}
@media (max-width: 1023px) {
  .change-language-button__text {
    margin: 3px 0 0 0;
    line-height: normal;
    font-size: 16px;
  }
}

.change-language-button__text-bold {
  margin: 0 -5px 0 0;
  font-family: "MuseoSansCyrl Bold", sans-serif;
  color: #ffffff;
}
@media (max-width: 1023px) {
  .change-language-button__text-bold {
    margin: 3px 0 0 0;
    line-height: normal;
    font-size: 16px;
  }
}

.header-menu-item_link {
  display: flex;
  flex-flow: row nowrap;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
  text-decoration: none;
}
.header-menu-item_link:hover {
  opacity: 70%;
}
@media (max-width: 1023px) {
  .header-menu-item_link {
    line-height: normal;
    font-size: 16px;
  }
}
@media (max-width: 899px) {
  .header-menu-item_link {
    display: none;
  }
}

.header-menu-item_link__social {
  margin: 2px 7px 0;
  justify-self: center;
}
@media (max-width: 1023px) {
  .header-menu-item_link__social {
    margin: 0px 2px 0;
  }
}

.header-menu-top_link__phone {
  margin: 6px 0 0 4px;
  font-family: Museo Sans Cyrl, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
  text-decoration: none;
  align-self: center;
}
@media (max-width: 1023px) {
  .header-menu-top_link__phone {
    line-height: normal;
    font-size: 16px;
  }
}

.header-menu-item_link__bottom {
  margin: 0 17px 0 0;
  white-space: nowrap;
}
@media (max-width: 1919px) {
  .header-menu-item_link__bottom {
    text-align: center;
  }
}
@media (max-width: 1699px) {
  .header-menu-item_link__bottom {
    margin: 0 2% 0 0;
  }
}

.header-menu-item_image {
  align-self: center;
}

.header-menu-bottom {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: 13px 0 0 -45px;
  align-items: center;
}
@media (max-width: 1919px) {
  .header-menu-bottom {
    margin: 13px 0 0 0;
    justify-content: flex-end;
  }
}
@media (max-width: 1439px) {
  .header-menu-bottom {
    padding: 0 0 0 20px;
  }
}
@media (max-width: 1299px) {
  .header-menu-bottom {
    flex-flow: wrap;
  }
}
@media (max-width: 1023px) {
  .header-menu-bottom {
    padding: 0;
  }
}
@media (max-width: 899px) {
  .header-menu-bottom {
    margin: 0;
    justify-content: center;
  }
}

.search-form {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 0 -4px;
  height: 28px;
  min-width: 195px;
  align-items: center;
  background: #FFFFFF;
  border-radius: 30px;
}
@media (max-width: 1919px) {
  .search-form {
    margin: 0 0 0 -4px;
    padding: 0 5px 0;
  }
}
@media (max-width: 1699px) {
  .search-form {
    margin: 5px 0 0 0;
    width: 25%;
  }
}
@media (max-width: 1439px) {
  .search-form {
    width: 45%;
  }
}
@media (max-width: 899px) {
  .search-form {
    height: 90%;
  }
}

.search-button {
  margin: 5px 0px 3px 13px;
  background: none;
}

.search-input {
  display: flex;
  flex-flow: column nowrap;
  width: 81%;
  padding: 0 0 0 17px;
  font-family: Museo Sans Cyrl, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #7D7D7D;
}
.search-input:focus {
  background: none;
  outline: none;
}

.header-menu_burger {
  display: none;
}
@media (max-width: 899px) {
  .header-menu_burger {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 0 15%;
  }
}

.burger-menu {
  display: none;
}
@media (max-width: 899px) {
  .burger-menu {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    top: -100%;
    margin: -28px 0 0 0;
    padding: 30px 20px 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    transition: all 0.3s ease 0s;
    background: #80C342;
  }
}
.burger-menu.active {
  top: 28px;
}

.header-menu-item_link__burger {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 8vh;
  z-index: 8;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-bottom: 1px solid #8E3298;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 280px 0;
  width: 100%;
  z-index: 1;
}
@media (max-width: 1919px) {
  .content {
    padding: 0 15% 0;
    height: 100%;
    background: url("/assets/img/2.content/bottom-img.png") no-repeat bottom right;
  }
}
@media (max-width: 1023px) {
  .content {
    padding: 0 10% 0;
    height: auto;
  }
}
@media (max-width: 899px) {
  .content {
    background: none;
  }
}

.content-about {
  display: flex;
  flex-flow: column nowrap;
  margin: 3px 0 0 76px;
  width: 568px;
  height: 418px;
  z-index: 2;
}
@media (max-width: 1919px) {
  .content-about {
    margin: 0 0 0 3%;
  }
}
@media (max-width: 1023px) {
  .content-about {
    width: 50%;
  }
}
@media (max-width: 899px) {
  .content-about {
    margin: 120px 0 0 0;
    width: 65%;
  }
}
@media (max-width: 767px) {
  .content-about {
    margin: 20% 0 0 0;
    height: 100%;
  }
}
@media (max-width: 425px) {
  .content-about {
    margin: 5% 0 0 0;
    width: 80%;
  }
}

.content-title {
  font-family: "MuseoSansCyrl Bold", sans-serif;
  margin: 0 0 35px 0;
  font-weight: 600;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0;
  color: #000000;
}
@media (max-width: 1023px) {
  .content-title {
    font-size: 50px;
    line-height: normal;
    margin: 0 0 5% 0;
  }
}
@media (max-width: 767px) {
  .content-title {
    font-size: 46px;
  }
}
@media (max-width: 575px) {
  .content-title {
    font-size: 44px;
  }
}

.content-text {
  font-size: 24px;
  line-height: 40px;
  /* or 167% */
  color: #000000;
}
@media (max-width: 1023px) {
  .content-text {
    font-size: 20px;
    line-height: normal;
  }
}
@media (max-width: 767px) {
  .content-text {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .content-text {
    font-size: 12px;
    line-height: 20px;
  }
}

.content-about_row {
  display: flex;
  flex-flow: row nowrap;
  margin: 108px 0 0 0;
  padding: 0 67px 0 0;
  justify-content: space-between;
}
@media (max-width: 1439px) {
  .content-about_row {
    margin: 15% 0 0 0;
  }
}
@media (max-width: 1023px) {
  .content-about_row {
    margin: 10% 0 0 0;
    padding: 0;
  }
}
@media (max-width: 899px) {
  .content-about_row {
    margin: 120px 0 0 0;
  }
}
@media (max-width: 899px) {
  .content-about_row {
    margin: 20% 0 0 0;
  }
}
@media (max-width: 425px) {
  .content-about_row {
    margin: 5% 0 0 0;
  }
}

.content_button {
  display: flex;
  flex-flow: column nowrap;
  width: 230px;
  height: 70px;
  align-items: center;
  justify-content: center;
  font-family: "MuseoSansCyrl Bold", sans-serif;
  font-weight: 600;
  font-size: 24px;
  /* or 167% */
  color: #FFFFFF;
  background: #80C342;
  box-shadow: 10px 10px 30px #CDCDCD;
  border-radius: 30px;
}
.content_button:focus {
  outline: none;
}
@media (max-width: 1023px) {
  .content_button {
    width: 180px;
    font-size: 20px;
    line-height: normal;
  }
}
@media (max-width: 767px) {
  .content_button {
    font-size: 16px;
    width: 150px;
    height: 50px;
  }
}
@media (max-width: 425px) {
  .content_button {
    width: 106px;
    height: 37px;
    font-size: 12px;
  }
}

.content_button__white {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */
  text-align: center;
  color: #000000;
  border: 3px solid #80C342;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 30px;
}
@media (max-width: 1023px) {
  .content_button__white {
    font-size: 20px;
    line-height: normal;
  }
}
@media (max-width: 767px) {
  .content_button__white {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .content_button__white {
    font-size: 12px;
    line-height: 12px;
    border: 1px solid #80C342;
  }
}

.content-mission {
  display: flex;
  flex-flow: column nowrap;
  margin: 244px 0 0 671px;
  width: 580px;
  height: 247px;
  z-index: 2;
}
@media (max-width: 1919px) {
  .content-mission {
    margin: 244px 0 0 0;
    align-self: flex-end;
  }
}
@media (max-width: 1439px) {
  .content-mission {
    margin: 25% 0 0 0;
  }
}
@media (max-width: 1023px) {
  .content-mission {
    width: 50%;
  }
}
@media (max-width: 899px) {
  .content-mission {
    margin: 15% 0 0 0;
    width: 60%;
  }
}
@media (max-width: 575px) {
  .content-mission {
    margin: 20% 0 0 0;
    height: 100%;
  }
}
@media (max-width: 425px) {
  .content-mission {
    margin: 5% 0 0 0;
    width: 80%;
  }
}

.content-central-block {
  display: flex;
  flex-flow: column nowrap;
  margin: 130px 0 0 -25px;
  z-index: 2;
}
@media (max-width: 899px) {
  .content-central-block {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .content-central-block {
    margin: 10% 0 0 0;
  }
}
@media (max-width: 425px) {
  .content-central-block {
    margin: 5% 0;
  }
}

.content-title__small {
  align-self: center;
  justify-self: center;
  font-family: "MuseoSansCyrl Bold", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */
  text-align: center;
  color: #000000;
}
@media (max-width: 1919px) {
  .content-title__small {
    align-self: center;
  }
}
@media (max-width: 1023px) {
  .content-title__small {
    font-size: 30px;
    line-height: normal;
  }
}
@media (max-width: 575px) {
  .content-title__small {
    font-size: 20px;
  }
}

.content-vision {
  display: flex;
  flex-flow: column nowrap;
  margin: 85px 0 0 76px;
  width: 580px;
  height: 290px;
  z-index: 2;
}
@media (max-width: 1919px) {
  .content-vision {
    margin: 85px 0 0 3%;
  }
}
@media (max-width: 1023px) {
  .content-vision {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .content-vision {
    margin: 10% 0 0 3%;
  }
}
@media (max-width: 575px) {
  .content-vision {
    margin: 20% 0 0 0;
    height: 100%;
  }
}
@media (max-width: 425px) {
  .content-vision {
    margin: 5% 0 0 0;
    width: 70%;
  }
}

.content-values {
  display: flex;
  flex-flow: column nowrap;
  margin: 115px 0 0 74px;
  width: 1158px;
  z-index: 2;
}
@media (max-width: 1919px) {
  .content-values {
    width: 100%;
    margin: 115px 0 0 3%;
  }
}
@media (max-width: 767px) {
  .content-values {
    margin: 10% 0 0 3%;
  }
}
@media (max-width: 575px) {
  .content-values {
    margin: 20% 0 0 0;
    height: 100%;
  }
}
@media (max-width: 425px) {
  .content-values {
    margin: 5% 0 0 0;
  }
}

.content-animation-block {
  display: flex;
  flex-flow: column;
  width: 1133px;
  height: 240px;
}
@media (max-width: 1919px) {
  .content-animation-block {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 899px) {
  .content-animation-block {
    flex-flow: row nowrap;
  }
}

.animation-block_row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: 0 0 100px 0;
  justify-content: space-around;
}
@media (max-width: 899px) {
  .animation-block_row {
    flex-flow: column nowrap;
    margin: 0;
  }
}

.animation-block {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
@media (max-width: 899px) {
  .animation-block {
    margin: 0 0 30px 0;
  }
}

.animation-title {
  display: flex;
  flex-flow: row nowrap;
  height: 70px;
  padding: 0 0 0 30px;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */
  background: url("/assets/img/2.content/animation-ellipse.svg") no-repeat left;
  background-size: auto;
  color: #000000;
}
.animation-title:hover {
  opacity: 70%;
}
@media (max-width: 1439px) {
  .animation-title {
    line-height: normal;
  }
}
@media (max-width: 1023px) {
  .animation-title {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .animation-title {
    font-size: 16px;
  }
}

.animation-text {
  margin: 5px 0 0 0;
  padding: 0 0 0 30px;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */
  color: #000000;
}
@media (max-width: 1023px) {
  .animation-text {
    line-height: normal;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .animation-text {
    font-size: 14px;
  }
}

.animation-text__hidden {
  display: none;
}

.content-cases {
  display: flex;
  flex-flow: column nowrap;
  margin: 190px 0 0 0;
  width: 1366px;
  min-width: 0;
  height: 756px;
  z-index: 2;
}
@media (max-width: 1919px) {
  .content-cases {
    width: 100%;
    margin: 100px 0 0 0;
  }
}
@media (max-width: 1023px) {
  .content-cases {
    margin: 20px 0 0 0;
    height: 700px;
  }
}
@media (max-width: 767px) {
  .content-cases {
    margin: 10% 0 0 0;
    height: 100%;
  }
}

.content-title__right {
  margin: 0 0 0 721px;
}
@media (max-width: 1919px) {
  .content-title__right {
    width: 568px;
    align-self: flex-end;
  }
}
@media (max-width: 767px) {
  .content-title__right {
    margin: 0 0 0 3%;
    align-self: flex-start;
    width: 100%;
  }
}

.slider-case {
  display: flex;
  flex-flow: column nowrap;
  width: 625px;
  height: 525px;
  padding: 40px;
  margin: 0 113px 0 0;
  background: #842C8E url("/assets/img/2.content/case-bg1.svg") center no-repeat;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
  color: #FFFFFF;
}
@media (max-width: 1919px) {
  .slider-case {
    margin: 0 3.5vw 0 0;
    width: 33vw;
    background-size: contain;
    height: 100%;
  }
}
@media (max-width: 1023px) {
  .slider-case {
    width: 38vw;
  }
}
@media (max-width: 767px) {
  .slider-case {
    padding: 10px;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .slider-case {
    padding: 5px;
  }
}
@media (max-width: 425px) {
  .slider-case {
    height: auto;
  }
}

.slider-case_title {
  height: 150px;
  margin: 0 0 40px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  /* or 111% */
}
@media (max-width: 1919px) {
  .slider-case_title {
    width: 90%;
  }
}
@media (max-width: 1699px) {
  .slider-case_title {
    font-size: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 899px) {
  .slider-case_title {
    font-size: 24px;
    line-height: normal;
  }
}
@media (max-width: 767px) {
  .slider-case_title {
    font-size: 20px;
    height: 110px;
    margin: 0 0 5% 0;
  }
}
@media (max-width: 575px) {
  .slider-case_title {
    margin: 10px 0 0 0;
    font-size: 16px;
    height: 80px;
  }
}
@media (max-width: 425px) {
  .slider-case_title {
    height: auto;
    font-size: 10px;
  }
}

.slider-case_text {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
}
@media (max-width: 1919px) {
  .slider-case_text {
    width: 90%;
    min-height: 120px;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 899px) {
  .slider-case_text {
    font-size: 16px;
    line-height: normal;
  }
}
@media (max-width: 767px) {
  .slider-case_text {
    min-height: 100px;
    height: 100px;
  }
}
@media (max-width: 575px) {
  .slider-case_text {
    margin: 10px 0 0 0;
    font-size: 14px;
    height: 80px;
  }
}
@media (max-width: 425px) {
  .slider-case_text {
    min-height: 50px;
    height: auto;
    font-size: 7px;
  }
}

.content_button__slider-button {
  margin-top: auto;
  align-self: center;
  box-shadow: 10px 10px 30px #4A1950;
}

.content-expertise {
  display: flex;
  flex-flow: column nowrap;
  margin: 135px 0 0 76px;
  width: 1172px;
  height: 1024px;
  z-index: 2;
}
@media (max-width: 1919px) {
  .content-expertise {
    margin: 135px 0 0 3%;
    width: 95%;
  }
}
@media (max-width: 1023px) {
  .content-expertise {
    height: 850px;
  }
}
@media (max-width: 767px) {
  .content-expertise {
    margin: 10% 0 0 3%;
    height: 100%;
  }
}
@media (max-width: 575px) {
  .content-expertise {
    margin: 10% 0 0 0;
  }
}
@media (max-width: 425px) {
  .content-expertise {
    margin: 5% 0 0 0;
  }
}

.gear-text_container {
  display: flex;
  flex-flow: column nowrap;
  width: 1146px;
  height: 665px;
  margin: 56px 0 0 0;
  background: url("/assets/img/2.content/gear-bg.svg") no-repeat center;
  background-position-y: 35%;
}
@media (max-width: 1919px) {
  .gear-text_container {
    margin: 56px 0 0 0;
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .gear-text_container {
    height: 550px;
  }
}
@media (max-width: 767px) {
  .gear-text_container {
    margin: 5% 0 0 0;
  }
}
@media (max-width: 575px) {
  .gear-text_container {
    background-size: contain;
    height: 100%;
  }
}

.gear-text_row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}

.gear-text_text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */
  text-align: left;
  color: #000000;
}
@media (max-width: 1023px) {
  .gear-text_text {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .gear-text_text {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .gear-text_text {
    font-size: 14px;
    line-height: normal;
  }
}
@media (max-width: 425px) {
  .gear-text_text {
    font-size: 7px;
  }
}

.gear-text_text__right {
  text-align: right;
}

.gear-text_text__first {
  width: 489px;
  height: 120px;
}
@media (max-width: 425px) {
  .gear-text_text__first {
    width: 154px;
    height: auto;
  }
}

.gear-text_text__second {
  width: 428px;
  height: 80px;
}
@media (max-width: 425px) {
  .gear-text_text__second {
    width: 135px;
    height: auto;
  }
}

.gear-text_text__third {
  width: 284px;
  height: 120px;
  margin: 134px 0 0 0;
}
@media (max-width: 1023px) {
  .gear-text_text__third {
    margin: 10% 0 0 0;
  }
}
@media (max-width: 425px) {
  .gear-text_text__third {
    margin: 15% 0 0 0;
    height: auto;
    width: 90px;
  }
}

.gear-text_text__fourth {
  width: 294px;
  height: 80px;
  margin: 134px 0 0 0;
}
@media (max-width: 1023px) {
  .gear-text_text__fourth {
    margin: 10% 0 0 0;
  }
}
@media (max-width: 425px) {
  .gear-text_text__fourth {
    margin: 15% 0 0 0;
    height: auto;
    width: 93px;
  }
}

.gear-text_text__fifth {
  width: 551px;
  height: 147px;
  margin: 144px 0 0 0;
}
@media (max-width: 1023px) {
  .gear-text_text__fifth {
    margin: 10% 0 0 0;
  }
}
@media (max-width: 425px) {
  .gear-text_text__fifth {
    margin: 15% 0 0 0;
    height: auto;
    width: 174px;
  }
}

.gear-text_text__sixth {
  width: 539px;
  height: 147px;
  margin: 144px 0 0 0;
}
@media (max-width: 1023px) {
  .gear-text_text__sixth {
    margin: 10% 0 0 0;
  }
}
@media (max-width: 425px) {
  .gear-text_text__sixth {
    margin: 15% 0 0 0;
    height: auto;
    width: 170px;
  }
}

@media (max-width: 1023px) {
  .hide {
    display: none;
  }
}

.content_button__content-expertise {
  margin-top: 116px;
  align-self: flex-end;
}
@media (max-width: 1023px) {
  .content_button__content-expertise {
    margin: 10% 0 0 0;
  }
}
@media (max-width: 767px) {
  .content_button__content-expertise {
    margin: 5% 0 0 0;
  }
}

.content-news {
  display: flex;
  flex-flow: column nowrap;
  margin: 88px 0 0 0;
  width: 1366px;
  height: 710px;
  z-index: 2;
}
@media (max-width: 1919px) {
  .content-news {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .content-news {
    margin: 80px 0 0 0;
    height: 100%;
  }
}
@media (max-width: 575px) {
  .content-news {
    margin: 10% 0 0 0;
  }
}

.content-title__news {
  margin: 0 0 65px 76px;
}
@media (max-width: 1919px) {
  .content-title__news {
    margin: 0 0 65px 3%;
  }
}
@media (max-width: 767px) {
  .content-title__news {
    margin: 10% 0 30px 3%;
  }
}
@media (max-width: 575px) {
  .content-title__news {
    margin: 0 0 5% 0;
  }
}

.news-slider {
  display: flex;
  flex-flow: column nowrap;
  min-width: 0;
}
@media (max-width: 1919px) {
  .news-slider {
    width: 100%;
  }
}

.news-slide-case {
  display: flex;
  flex-flow: row;
  width: 1366px;
  min-width: 0;
  height: 558px;
  padding: 36px 77px 85px 79px;
  margin: 0 50px 0 0;
  color: #FFFFFF;
  background: #842C8E;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
}
@media (max-width: 1919px) {
  .news-slide-case {
    width: 70vw;
    justify-content: space-between;
  }
}
@media (max-width: 1023px) {
  .news-slide-case {
    width: 80.5vw;
  }
}
@media (max-width: 899px) {
  .news-slide-case {
    width: 80vw;
  }
}
@media (max-width: 767px) {
  .news-slide-case {
    padding: 30px 20px;
    height: 100%;
  }
}
@media (max-width: 575px) {
  .news-slide-case {
    padding: 10px 15px;
    margin: 0 50px 15px 0;
  }
}

.news-slide-case_left {
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 1919px) {
  .news-slide-case_left {
    width: 50%;
  }
}

.slider-case_title__news {
  margin: 51px 0 14px -2px;
}
@media (max-width: 1919px) {
  .slider-case_title__news {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1439px) {
  .slider-case_title__news {
    overflow: visible;
    height: auto;
  }
}
@media (max-width: 767px) {
  .slider-case_title__news {
    margin: 5% 0 5% 0;
  }
}

.slider-case_text__news {
  width: 541px;
  height: 157px;
}
@media (max-width: 1919px) {
  .slider-case_text__news {
    width: 100%;
    min-height: 200px;
  }
}
@media (max-width: 1439px) {
  .slider-case_text__news {
    min-height: 120px;
    overflow: hidden;
  }
}

.news-slide-case_right {
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 1919px) {
  .news-slide-case_right {
    width: 49%;
    align-self: center;
  }
}

@media (max-width: 1919px) {
  .news-slide-case_image {
    width: 100%;
    align-self: center;
    justify-self: center;
  }
}

.content-contacts {
  display: flex;
  flex-flow: row nowrap;
  margin: 125px 0 0 0;
  width: 100%;
  z-index: 2;
}
@media (max-width: 1439px) {
  .content-contacts {
    margin: 10% 0 20px 0;
  }
}
@media (max-width: 899px) {
  .content-contacts {
    flex-flow: column nowrap;
    align-items: center;
  }
}

.content-title__contacts-up {
  display: none;
}
@media (max-width: 899px) {
  .content-title__contacts-up {
    display: flex;
    align-self: flex-end;
  }
}

.contact-form {
  display: flex;
  flex-flow: column nowrap;
  width: 575px;
  height: 518px;
  padding: 50px 80px 30px;
  background: #80C342;
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02), 0px 32px 64px rgba(44, 39, 56, 0.04);
  border-radius: 24px;
}
@media (max-width: 1919px) {
  .contact-form {
    width: 42%;
  }
}
@media (max-width: 1439px) {
  .contact-form {
    width: 50%;
    padding: 50px 4% 30px;
  }
}
@media (max-width: 899px) {
  .contact-form {
    width: 100%;
    padding: 50px 15% 30px;
  }
}
@media (max-width: 575px) {
  .contact-form {
    padding: 30px 20px;
  }
}

.form_title {
  margin: 0 0 23px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}
@media (max-width: 1919px) {
  .form_title {
    width: 100%;
    white-space: nowrap;
  }
}

.form_label-email {
  margin: 0 0 20px 1px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #FFFFFF;
}
@media (max-width: 1919px) {
  .form_label-email {
    width: 100%;
  }
}

.form_input-email {
  width: 390px;
  height: 50px;
  margin: 0 0 31px 0;
  padding: 10px 20px;
  font-family: Museo Sans Cyrl, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #7D7D7D;
  background: #FFFFFF;
  border-radius: 30px;
  outline: none;
}
@media (max-width: 1919px) {
  .form_input-email {
    width: 100%;
  }
}

.form_label-comment {
  margin: 0 0 20px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #FFFFFF;
}
@media (max-width: 1919px) {
  .form_label-comment {
    width: 100%;
  }
}

.form_input-comment {
  height: 95px;
  width: 390px;
  margin: 0 0 28px 0;
  padding: 10px 20px;
  font-family: Museo Sans Cyrl, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #7D7D7D;
  outline: none;
  background: #FFFFFF;
  border-radius: 30px;
}
@media (max-width: 1919px) {
  .form_input-comment {
    width: 100%;
  }
}

.form_button-submit {
  width: 230px;
  height: 70px;
  margin: 0 0 0 -28px;
  align-self: center;
  background: #862D91;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  color: #EBF4F8;
}
@media (max-width: 1919px) {
  .form_button-submit {
    width: 60%;
  }
}
@media (max-width: 1919px) {
  .form_button-submit {
    width: 80%;
  }
}

.content-contacts_right-block {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 0 0 85px;
}
@media (max-width: 1439px) {
  .content-contacts_right-block {
    margin: 0 0 0 5%;
  }
}
@media (max-width: 1023px) {
  .content-contacts_right-block {
    width: 50%;
  }
}
@media (max-width: 899px) {
  .content-contacts_right-block {
    width: 100%;
    margin: 80px 0 0 10px;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.content-title__contacts {
  margin: 115px 0 34px 0;
}
@media (max-width: 1023px) {
  .content-title__contacts {
    width: 100%;
  }
}
@media (max-width: 899px) {
  .content-title__contacts {
    display: none;
  }
}

@media (max-width: 899px) {
  .content-contacts_text-block {
    display: flex;
    flex-flow: column nowrap;
  }
}

.contacts-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */
  color: #000000;
}
@media (max-width: 1023px) {
  .contacts-text {
    white-space: normal;
    font-size: 20px;
  }
}
@media (max-width: 899px) {
  .contacts-text {
    display: flex;
  }
}
@media (max-width: 575px) {
  .contacts-text {
    font-size: 16px;
  }
}

.contacts-text_underline {
  display: flex;
  flex-flow: row nowrap;
  margin: 27px 0 0 0;
  width: 489px;
  text-decoration: underline;
}
@media (max-width: 1023px) {
  .contacts-text_underline {
    flex-flow: row nowrap;
    width: 100%;
  }
}
@media (max-width: 899px) {
  .contacts-text_underline {
    margin: 0;
    width: 45%;
  }
}

.contacts-map {
  align-self: flex-start;
}
@media (max-width: 899px) {
  .contacts-map {
    align-self: center;
    margin: 0 10px 0 0;
  }
}

.content-central-image_container {
  display: none;
}
@media (max-width: 1439px) {
  .content-central-image_container {
    display: flex;
    flex-flow: row;
    width: 750px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 50px;
    z-index: 0;
  }
}
@media (max-width: 899px) {
  .content-central-image_container {
    display: none;
  }
}

.content-left-image_container {
  display: none;
}
@media (max-width: 1919px) {
  .content-left-image_container {
    display: flex;
    flex-flow: row;
    width: 750px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 170px;
    z-index: 0;
  }
}
@media (max-width: 899px) {
  .content-left-image_container {
    display: none;
  }
}

.content-right-image_container {
  display: none;
}
@media (max-width: 1919px) {
  .content-right-image_container {
    display: flex;
    flex-flow: row;
    width: 560px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 1075px;
    z-index: 0;
  }
}
@media (max-width: 899px) {
  .content-right-image_container {
    display: none;
  }
}

/* Слайдер */
@media (max-width: 1919px) {
  .slick-slider {
    width: 100%;
  }
}

/* Ограничевающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  flex-flow: row nowrap;
}

/* Слайд */
.slick-slide {
  display: flex;
  outline: none;
}

/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки*/
.slick-dots {
  display: flex;
  align-self: center;
  margin: 67px 0 0 315px;
}
@media (max-width: 767px) {
  .slick-dots {
    margin: 5% 0 0 20%;
  }
}

.news-slider .slick-dots {
  display: flex;
  align-self: center;
  margin: -50px 0 0 0;
  z-index: 20;
}

.slick-dots li {
  margin: 0 22px 0 0;
  list-style: none;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #8E3298;
  border-radius: 50%;
}
@media (max-width: 425px) {
  .slick-dots li {
    width: 5px;
    height: 5px;
    margin: 0 6px 0 0;
  }
}

.news-slider .slick-dots li {
  background: #8E3298;
  border: 3px solid #80C342;
  border-radius: 50%;
}

.slick-dots .slick-active {
  background: #8E3298;
  border-radius: 50%;
}

.news-slider .slick-dots .slick-active {
  background: #80C342;
  border: 3px solid #80C342;
  border-radius: 50%;
}

/* Конкретный слайдер*/
.slider {
  display: flex;
  flex-flow: column nowrap;
  min-width: 0;
  margin: 80px 0 0 0;
}
@media (max-width: 767px) {
  .slider {
    margin: 5% 0 0 0;
  }
}

.footer {
  display: none;
}
@media (max-width: 899px) {
  .footer {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;
    background: url("/assets/img/3.footer/footer-bg.svg") no-repeat bottom;
    background-size: cover;
  }
}

.footer_nav {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.footer_nav-list {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.footer_nav-item {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 10% 0;
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  border-bottom: 2px solid rgba(134, 45, 145, 0.55);
}

.footer_link {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.footer_link:hover {
  opacity: 70%;
}

.footer_bottom-links {
  display: flex;
  flex-flow: column nowrap;
  margin: 30px 0 80px 0;
}

.footer_link__bottom {
  padding: 0 10% 0;
  margin: 5px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
