@import "header";

.content {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 280px 0;
}

.content-about {
  display: flex;
  flex-flow: column nowrap;
  margin: 3px 0 0 76px;
  width: 568px;
  height: 418px;
}

.content-title {
  margin: 0 0 35px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 86px;

  color: #000000;
}

.content-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */

  color: #000000;
}

.content-about_row {
  display: flex;
  flex-flow: row nowrap;
  margin: 108px 0 0 0;
  padding: 0 67px 0 0;

  justify-content: space-between;
}

.content_button {
  display: flex;
  flex-flow: column nowrap;
  width: 230px;
  height: 70px;

  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */


  color: #FFFFFF;

  background: #80C342;
  box-shadow: 10px 10px 30px #CDCDCD;
  border-radius: 30px;
}

.content_button__white {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */

  text-align: center;

  color: #000000;

  border: 3px solid #80C342;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 30px;
}

.content-mission {
  display: flex;
  flex-flow: column nowrap;
  margin: 244px 0 0 595+76px;
  width: 580px;
  height: 247px;
}

.content-central-block {
  display: flex;
  flex-flow: column nowrap;
  margin: 130px 0 0 -25px;
}

.content-title__small {
  align-self: center;
  justify-self: center;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */

  text-align: center;

  color: #000000;
}

.content-vision {
  display: flex;
  flex-flow: column nowrap;
  margin: 85px 0 0 76px;
  width: 580px;
  height: 290px;
}

.content-values {
  display: flex;
  flex-flow: column nowrap;
  margin: 115px 0 0 74px;
  width: 1158px;
}

.content-animation-block {
  display: flex;
  flex-flow: column;
  width: 1133px;
  height: 240px;
}

.animation-block_row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: 0 0 100px 0;

  justify-content: space-around;
}

.animation-block {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.animation-title {
  display: flex;
  flex-flow: row nowrap;
  height: 70px;
  padding: 0 0 0 30px;

  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */

  background: url("/assets/img/2.content/animation-ellipse.svg") no-repeat left;
  background-size: auto;

  color: #000000;

  &:hover {
    opacity: 70%;
  }
}

.animation-text {
  padding: 0 0 0 30px;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */


  color: #000000;
}

.animation-text__hidden {
  display: none;
}

.content-cases {
  display: flex;
  flex-flow: column nowrap;
  margin: 190px 0 0 0;
  width: 1366px;
  height: 756px;
}

.content-title__right {
  margin: 0 0 0 671px;
}

.slider {
  display: flex;
  flex-flow: row nowrap;
  margin: 80px 0 0 0;

  justify-content: space-between;
}

.slider-case {
  display: flex;
  flex-flow: column nowrap;
  width: 625px;
  height: 525px;
  padding: 40px;
  position: relative;


  background: url("/assets/img/2.content/case-bg1.svg") no-repeat;
  color: #FFFFFF;
}

.slider-case_title {
  margin: 0 0 40px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  /* or 111% */
}

.slider-case_text {
  margin: 0 0 10px 0;

  font-family: Museo Sans Cyrl;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.content_button__slider-button {
  position: absolute;
  bottom: 5%;
  align-self: center;

  box-shadow: 10px 10px 30px #4A1950;
}

.content-expertise {
  display: flex;
  flex-flow: column nowrap;
  margin: 120px 0 0 76px;
  width: 1172px;
  height: 1024px;
}

.content-news {
  display: flex;
  flex-flow: column nowrap;
  margin: 84px 0 0 76px;
  width: 1366px;
  height: 710px;
}

.content-contacts {
  display: flex;
  flex-flow: row nowrap;
  margin: 150px 0 0 0;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-flow: column nowrap;
  width: 575px;
  height: 518px;
  padding: 50px 80px 30px;

  background: #80C342;
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02), 0px 32px 64px rgba(44, 39, 56, 0.04);
  border-radius: 24px;
}

.form_title {
  margin: 0 0 23px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;

  color: #FFFFFF;
}

.form_label-email {
  margin: 0 0 20px 1px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */


  color: #FFFFFF;
}

.form_input-email {
  width: 390px;
  height: 50px;
  margin: 0 0 31px 0;

  background: #FFFFFF;
  border-radius: 30px;
}

.form_label-comment {
  margin: 0 0 20px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #FFFFFF;
}

.form_input-comment {
  height: 95px;
  width: 390px;
  margin: 0 0 28px 0;

  background: #FFFFFF;
  border-radius: 30px;
}

.form_button-submit {
  width: 230px;
  height: 70px;
  margin: 0 0 0 -28px;

  align-self: center;

  background: #862D91;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
  border-radius: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #EBF4F8;

}

.content-contacts_right-block {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 0 0 85px;
}

.content-title__contacts {
  margin: 115px 0 34px 0;
}

.contacts-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */

  color: #000000;
}

.contacts-text_underline {
  display: flex;
  flex-flow: row nowrap;
  margin: 27px 0 0 0;
  width: 489px;

  text-decoration: underline;
}

.contacts-map {
  align-self: flex-start;
}

@import "footer";
